<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Arduix - AI & IT Startup HTML Template">
    <meta name="description" content="Arduix - AI & IT Startup HTML Template">
    <meta name="author" content="Barat Hadian">

    <link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css">

    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">

    <link rel="stylesheet" href="assets/css/animate.min.css">

    <link rel="stylesheet" href="assets/css/boxicons.min.css">

    <link rel="stylesheet" href="assets/css/flaticon.css">

    <link rel="stylesheet" href="assets/css/meanmenu.min.css">

    <link rel="stylesheet" href="assets/css/nice-select.min.css">

    <link rel="stylesheet" href="assets/css/odometer.min.css">

    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">

    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="stylesheet" href="assets/css/responsive.css">

    <link rel="stylesheet" href="assets/css/rtl.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/img/favicon.png">

    <!-- TITLE -->
    <title>Arduix - قالب HTML آردویکس , پوسته چندمنظوره شرکتی استارت آپ فناوری اطلاعات و هوش مصنوعی</title>
</head>

<body>

    <!-- Start Preloader Area -->
    <div class="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- End Preloader Area -->
    <!-- Start Arduix Navbar Area -->
    <div id="header" class="arduix-nav-style">
        <div class="navbar-area">
            <!-- Menu For Mobile Device -->
            <div class="mobile-nav">
                <a href="index.html" class="logo">
                    <img src="~/img/white-logo.png" alt="Logo">
                </a>
            </div>
            <!-- Menu For Desktop Device -->
            <div class="main-nav">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="container">
                        <a class="navbar-brand" href="index.html">
                            <img src="~/img/white-logo.png" alt="Logo">
                        </a>
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle active">
                                        خانه
                                        <i class='bx bx-chevron-up'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="index.html" class="nav-link">صفحه اصلی 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-2.html" class="nav-link">صفحه اصلی 2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-3.html" class="nav-link active">صفحه اصلی 3</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-4.html" class="nav-link">صفحه اصلی 4</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-5.html" class="nav-link">صفحه اصلی 5</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                        درباره ما
                                        <i class='bx bx-chevron-up'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="about-style-one.html" class="nav-link">درباره ما 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="about-style-two.html" class="nav-link">درباره ما 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                        صفحات
                                        <i class='bx bx-chevron-up'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="pricing.html" class="nav-link">قیمت گذاری</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="team.html" class="nav-link">تیم</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="faq.html" class="nav-link">سوالات متداول</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="testimonial.html" class="nav-link">مشتریان</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">
                                                کاربران
                                                <i class='bx bx-chevron-up'></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="log-in.html" class="nav-link">ورود</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="sign-up.html" class="nav-link">عضویت</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="recover-password.html" class="nav-link">بازیابی رمز عبور</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="terms-conditions.html" class="nav-link">قوانین و مقررات</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="privacy-policy.html" class="nav-link">حریم خصوصی</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="coming-soon.html" class="nav-link">نسخه به زودی</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="404.html" class="nav-link">خطای 404</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                        خدمات
                                        <i class='bx bx-chevron-up'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="services-style-one.html" class="nav-link">خدمات 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="services-style-two.html" class="nav-link">خدمات 2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="services-style-three.html" class="nav-link">خدمات 3</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="services-style-four.html" class="nav-link">خدمات 4</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="services-details.html" class="nav-link">خدمات جداگانه</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                        فروشگاه
                                        <i class='bx bx-chevron-up'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="product-grid.html" class="nav-link">فروشگاه شبکه ای</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="checkout.html" class="nav-link">بررسی محصول</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="cart.html" class="nav-link">سبد خرید</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="single-product.html" class="nav-link">فروشگاه جداگانه</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                        اخبار
                                        <i class='bx bx-chevron-up'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="news-grid.html" class="nav-link">اخبار شبکه ای</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="news-left-sidebar.html" class="nav-link">اخبار سایدبار 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="news-right-sidebar.html" class="nav-link">اخبار سایدبار 2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="news-details.html" class="nav-link">اخبار جداگانه</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                        تماس با ما
                                        <i class='bx bx-chevron-up'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="contact-style-one.html" class="nav-link">تماس با ما 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="contact-style-two.html" class="nav-link">تماس با ما 2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="contact-style-three.html" class="nav-link">تماس با ما 3</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="contact-style-four.html" class="nav-link">تماس با ما 4</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- Start Other Option -->
                            <div class="others-option">
                                <a class="default-btn" href="log-in.html">
                                    ورود
                                    <i class="bx bx-log-in-circle"></i>
                                </a>
                            </div>
                            <!-- End Other Option -->
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Arduix Navbar Area -->
    <!-- Start Main Banner Area -->
    <section class="main-banner-area main-banner-area-three">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-text">
                        <h1>راه حل های امن IT را برای یک محیط امن تر امن کنید</h1>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        <div class="banner-btn">
                            <a class="default-btn" href="about-style-one.html">
                                بیشتر بدانید
                            </a>
                            <a class="default-btn active popup-youtube" href="https://www.youtube.com/watch?v=EHpC85KjoH4">
                                <i class="bx bx-play"></i>
                                چطور کار میکند؟
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner-main-img banner-one-main-img">
                        <img src="~/img/home-three-banner/banner-three-main-img.png" alt="Image">
                    </div>
                    <div class="banner-img">
                        <img class="wow fadeInDown" data-wow-delay=".1s" src="~/img/home-three-banner/main-img-part/1.png" alt="Image">
                        <img class="wow fadeInDown" data-wow-delay=".6s" src="~/img/home-three-banner/main-img-part/2.png" alt="Image">
                    </div>
                </div>
            </div>
        </div>
        <div class="whites-shape">
            <img src="~/img/home-three-banner/white-bottom-shape-banner-three.png" alt="Image">
        </div>
        <div class="over-shape">
            <img src="~/img/home-one-banner/banner-one-shape/1.png" alt="Image">
            <img src="~/img/home-one-banner/banner-one-shape/1.png" alt="Image">
            <img src="~/img/home-one-banner/banner-one-shape/2.png" alt="Image">
            <img src="~/img/home-one-banner/banner-one-shape/2.png" alt="Image">
            <img src="~/img/home-one-banner/banner-one-shape/3.png" alt="Image">
        </div>
    </section>
    <!-- End Main Banner Area -->
    <!-- Start Brand Area -->
    <div class="brand-area-two mt-100 ptb-100">
        <div class="container">
            <div class="brand-wrap owl-carousel owl-theme">
                <div class="single-brand">
                    <a href="#">
                        <img src="~/img/brand/1.png" alt="Image">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="#">
                        <img src="~/img/brand/2.png" alt="Image">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="#">
                        <img src="~/img/brand/3.png" alt="Image">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="#">
                        <img src="~/img/brand/4.png" alt="Image">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="#">
                        <img src="~/img/brand/5.png" alt="Image">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="#">
                        <img src="~/img/brand/6.png" alt="Image">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="#">
                        <img src="~/img/brand/7.png" alt="Image">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="#">
                        <img src="~/img/brand/8.png" alt="Image">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brand Area -->
    <!-- Start About Area -->
    <section class="about-area pt-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="~/img/about-img-three.png" alt="Image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <span>درباره ما</span>
                        <h2>ما هر پروژه را با مراقبت و نیاز مشتری تکمیل می کنیم</h2>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <ul>
                                    <li>
                                        <i class="flaticon-checked"></i>
                                        ذخیره پیشرفته
                                    </li>
                                    <li>
                                        <i class="flaticon-checked"></i>
                                        برنامه های نامحدود
                                    </li>
                                    <li>
                                        <i class="flaticon-checked"></i>
                                        انتقال داده ها
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <ul>
                                    <li>
                                        <i class="flaticon-checked"></i>
                                        انتقال داده به سرور
                                    </li>
                                    <li>
                                        <i class="flaticon-checked"></i>
                                        24/7 پشتیبانی رایگان
                                    </li>
                                    <li>
                                        <i class="flaticon-checked"></i>
                                        درخواست بهینه شده
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a class="default-btn" href="about-style-two.html">
                            بیشتر بدانید
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Area -->
    <!-- Start Choose Us Area -->
    <section class="choose-ue-area ptb-100">
        <div class="container">
            <div class="section-title">
                <span>چرا ما را انتخاب کنید</span>
                <h2>بسترهای نرم افزاری ما فرآیند ایجاد وب سایت شما را دور می کند</h2>
                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="choose-content">
                        <ul>
                            <li>
                                <span>01 <i class="flaticon-technical-support"></i></span>
                                <h3>امنیت ایمن</h3>
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                            </li>
                            <li class="ml">
                                <span>02 <i class="flaticon-shield"></i></span>
                                <h3>پشتیبانی فنی</h3>
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                            </li>
                            <li class="ml-25">
                                <span>03 <i class="flaticon-support"></i></span>
                                <h3>پشتیبانی زنده</h3>
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="choose-content">
                        <ul>
                            <li>
                                <span>01 <i class="flaticon-technical-support"></i></span>
                                <h3>رایگان و سریع </h3>
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                            </li>
                            <li class="ml">
                                <span>02 <i class="flaticon-shield"></i></span>
                                <h3>فن آوری پیشرفته</h3>
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                            </li>
                            <li class="ml-25">
                                <span>03 <i class="flaticon-support"></i></span>
                                <h3>قیمت های رقابتی</h3>
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Choose Us Area -->
    <!-- Start What We Offer Area -->
    <section class="offer-area offer-area-two pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <span>خدمات ما</span>
                <h2>خدمات حرفه ای ما برای شما</h2>
                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single-offer">
                        <i class="flaticon-chip"></i>
                        <h3>رباتیک و پهپاد</h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-offer">
                        <i class="flaticon-vr"></i>
                        <h3>واقعیت مجازی</h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-offer">
                        <i class="flaticon-blockchain"></i>
                        <h3>پروژه بلاکچین</h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-offer">
                        <i class="flaticon-target"></i>
                        <h3>پردازش تصویر</h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-offer">
                        <i class="flaticon-choice"></i>
                        <h3>مدیریت سفارش</h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-offer">
                        <i class="flaticon-deep-learning"></i>
                        <h3>فراگیری ماشین</h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="offer-shape">
            <img src="~/img/shape/offer-shape/1.png" alt="Image">
            <img src="~/img/shape/offer-shape/2.png" alt="Image">
            <img src="~/img/shape/offer-shape/3.png" alt="Image">
            <img src="~/img/shape/offer-shape/4.png" alt="Image">
            <img src="~/img/shape/offer-shape/5.png" alt="Image">
            <img src="~/img/shape/offer-shape/5.png" alt="Image">
            <img src="~/img/shape/offer-shape/6.png" alt="Image">
        </div>
    </section>
    <!-- End What We Offer Area -->
    <!-- Start Business Area -->
    <section class="business-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="business-content">
                        <h2>تجارت خود را رقابتی تر و با دوام تر کنید</h2>
                    </div>
                    <div class="single-business">
                        <i class="flaticon-chip"></i>
                        <h3>هوش مصنوعی امنیت سایبر را بهبود می بخشد</h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>
                    <div class="single-business">
                        <i class="flaticon-blockchain"></i>
                        <h3>جامعه ای با یک مأموریت بی نظیر</h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>
                    <a class="default-btn" href="about-style-two.html">
                        دانستن جزئیات
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 counter-nth">
                            <div class="single-counter">
                                <h2>
                                    <span style="direction: ltr;" class="odometer" data-count="95">00</span> <span class="target">%</span>
                                </h2>
                                <p>پروژه تکمیل</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 counter-nth">
                            <div class="single-counter">
                                <h2>
                                    <span style="direction: ltr;" class="odometer" data-count="90">00</span> <span class="target">%</span>
                                </h2>
                                <p>طراحی</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 counter-nth">
                            <div class="single-counter">
                                <h2>
                                    <span style="direction: ltr;" class="odometer" data-count="85">00</span> <span class="target">%</span>
                                </h2>
                                <p>مشتریان راضی</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 counter-nth">
                            <div class="single-counter">
                                <h2>
                                    <span style="direction: ltr;" class="odometer" data-count="80">00</span> <span class="target">%</span>
                                </h2>
                                <p>برنده جایزه</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Business Area -->
    <!-- Start Industries Area -->
    <section class="industries-area pb-100">
        <div class="container">
            <div class="section-title">
                <span>چیزی که ما پیشنهاد میدیم</span>
                <h2>صنایعی که ما در خدمت آنها هستیم</h2>
                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.</p>
            </div>
            <div class="tab industries-list-tab">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <ul class="tabs">
                            <li>
                                <a href="#">
                                    <i class="flaticon-machine-learning"></i>
                                    <h3>صنعت سنگین</h3>
                                    <span>صنعت ماشین</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-artificial-intelligence"></i>
                                    <h3>حمل و نقل</h3>
                                    <span>صنعت ماشین</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-health"></i>
                                    <h3>مراقبت ها</h3>
                                    <span>صنعت ماشین</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-automation"></i>
                                    <h3>کارخانه ها</h3>
                                    <span>صنعت ماشین</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9">
                        <div class="tab_content">
                            <div class="tabs_item">
                                <div class="row  align-items-center">
                                    <div class="col-lg-6">
                                        <div class="industries-img">
                                            <img src="~/img/industries-img.png" alt="Image">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="industries-content">
                                            <h3>هوش مصنوعی در صنعت</h3>
                                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                            <p class="mb">لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6">
                                                    <ul class="industries-item">
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            فرصت ها
                                                        </li>
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            پدید آوردن
                                                        </li>
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            صنایع
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 col-sm-6">
                                                    <ul class="industries-item">
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            امنیت
                                                        </li>
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            بالاترین
                                                        </li>
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            اولویت
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <a class="default-btn" href="#">بیشتر پیدا کن</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs_item">
                                <div class="row  align-items-center">
                                    <div class="col-lg-6">
                                        <div class="industries-content">
                                            <h3>هوش مصنوعی در صنعت</h3>
                                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                            <p class="mb">لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6">
                                                    <ul class="industries-item">
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            امنیت
                                                        </li>
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            بالاترین
                                                        </li>
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            اولویت
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 col-sm-6">
                                                    <ul class="industries-item">
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            فرصت ها
                                                        </li>
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            پدید آوردن
                                                        </li>
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            صنایع
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <a class="default-btn" href="#">بیشتر پیدا کن</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="industries-img">
                                            <img src="~/img/industries-img.png" alt="Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs_item">
                                <div class="row  align-items-center">
                                    <div class="col-lg-6">
                                        <div class="industries-img">
                                            <img src="~/img/industries-img.png" alt="Image">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="industries-content">
                                            <h3>هوش مصنوعی در صنعت</h3>
                                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                            <p class="mb">لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6">
                                                    <ul class="industries-item">
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            پدید آوردن
                                                        </li>
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            ابداع
                                                        </li>
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            تعدیل کننده
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 col-sm-6">
                                                    <ul class="industries-item">
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            ساختگی
                                                        </li>
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            صنعت
                                                        </li>
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            فرصت ها
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <a class="default-btn" href="#">بیشتر پیدا کن</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs_item">
                                <div class="row  align-items-center">
                                    <div class="col-lg-6">
                                        <div class="industries-content">
                                            <h3>هوش مصنوعی در صنعت</h3>
                                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                            <p class="mb">لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6">
                                                    <ul class="industries-item">
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            فرصت ها
                                                        </li>
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            پدید آوردن
                                                        </li>
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            صنایع
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 col-sm-6">
                                                    <ul class="industries-item">
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            امنیت
                                                        </li>
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            بالاترین
                                                        </li>
                                                        <li>
                                                            <i class="flaticon-checked"></i>
                                                            اولویت
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <a class="default-btn" href="#">بیشتر پیدا کن</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="industries-img">
                                            <img src="~/img/industries-img.png" alt="Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Industries Area -->
    <!-- End Case Area -->
    <section class="case-area pb-100">
        <div class="container">
            <div class="section-title">
                <span>مطالعات موردی</span>
                <h2>مطالعات موردی اخیر ما</h2>
            </div>
            <div class="row">
                <div class="case-top-wrap owl-carousel owl-theme">
                    <div class="case-wrap">
                        <div class="single-case">
                            <img src="~/img/case/1.png" alt="Image">
                            <a class="link-icon" href="#"><i class="bx bx-plus"></i></a>
                        </div>
                        <h3>
                            <a href="#">
                                معماری شناختی
                            </a>
                        </h3>
                    </div>
                    <div class="case-wrap">
                        <div class="single-case">
                            <img src="~/img/case/2.png" alt="Image">
                            <a class="link-icon" href="#"><i class="bx bx-plus"></i></a>
                        </div>
                        <h3>
                            <a href="#">
                                تشخیص تصویر
                            </a>
                        </h3>
                    </div>
                    <div class="case-wrap">
                        <div class="single-case">
                            <img src="~/img/case/3.png" alt="Image">
                            <a class="link-icon" href="#"><i class="bx bx-plus"></i></a>
                        </div>
                        <h3>
                            <a href="#">
                                کتابخانه های نرم افزار
                            </a>
                        </h3>
                    </div>
                    <div class="case-wrap">
                        <div class="single-case">
                            <img src="~/img/case/4.png" alt="Image">
                            <a class="link-icon" href="#"><i class="bx bx-plus"></i></a>
                        </div>
                        <h3>
                            <a href="#">
                                کتابخانه های معماری
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Case Area -->
    <!-- Start Client Area -->
    <section class="client-area ptb-100">
        <div class="container">
            <div class="section-title">
                <span>مشتریان ما</span>
                <h2>آنچه مشتری درباره ما می گوید</h2>
            </div>
            <div class="client-wrap owl-carousel owl-theme">
                <div class="single-client">
                    <i class="quotes flaticon-left-quotes-sign"></i>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    <ul>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                    </ul>
                    <div class="client-img">
                        <img src="~/img/client/1.jpg" alt="Image">
                        <h3>آلن میر</h3>
                        <span>توسعه دهنده</span>
                    </div>
                </div>
                <div class="single-client">
                    <i class="quotes flaticon-left-quotes-sign"></i>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    <ul>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                    </ul>
                    <div class="client-img">
                        <img src="~/img/client/2.jpg" alt="Image">
                        <h3>آلن میر</h3>
                        <span>توسعه دهنده</span>
                    </div>
                </div>
                <div class="single-client">
                    <i class="quotes flaticon-left-quotes-sign"></i>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    <ul>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                    </ul>
                    <div class="client-img">
                        <img src="~/img/client/3.jpg" alt="Image">
                        <h3>آلن میر</h3>
                        <span>توسعه دهنده</span>
                    </div>
                </div>
                <div class="single-client">
                    <i class="quotes flaticon-left-quotes-sign"></i>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    <ul>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                    </ul>
                    <div class="client-img">
                        <img src="~/img/client/4.jpg" alt="Image">
                        <h3>آلن میر</h3>
                        <span>توسعه دهنده</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Client Area -->
    <!-- Start FAQ Area -->
    <section class="faq-area ptb-100">
        <div class="container">
            <div class="section-title">
                <span>سوالات متداول</span>
                <h2>مهمترین سوالات متداول کاربران</h2>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="faq-accordion">
                        <ul class="accordion">
                            <li class="accordion-item">
                                <a class="accordion-title active" href="javascript:void(0)">
                                    <i class='bx bx-chevron-down'></i>
                                    سوالات متداول 1؟
                                </a>

                                <div class="accordion-content show">
                                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                </div>
                            </li>

                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class='bx bx-chevron-down'></i>
                                    سوالات متداول 2؟
                                </a>

                                <div class="accordion-content">
                                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                </div>
                            </li>

                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class='bx bx-chevron-down'></i>
                                    سوالات متداول 3؟
                                </a>

                                <div class="accordion-content">
                                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                </div>
                            </li>

                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class='bx bx-chevron-down'></i>
                                    سوالات متداول 4؟
                                </a>

                                <div class="accordion-content">
                                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                </div>
                            </li>

                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class='bx bx-chevron-down'></i>
                                    سوالات متداول 5؟
                                </a>

                                <div class="accordion-content">
                                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="faq-img">
                        <img src="~/img/faq-img.png" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End FAQ Area -->
    <!-- Strat News Area -->
    <section class="news-area pb-70">
        <div class="container">
            <div class="section-title">
                <span>اخبار وبلاگ</span>
                <h2>اخبار وبلاگ ما را دنبال کنید </h2>
                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-news">
                        <div class="blog-img">
                            <a href="news-details.html">
                                <img src="~/img/blog/1.png" alt="Image">
                            </a>
                            <div class="dates">
                                <span>20 دی</span>
                            </div>
                        </div>
                        <div class="news-content-wrap">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-user"></i>
                                        مدیر
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-conversation"></i>
                                        نظر
                                    </a>
                                </li>
                            </ul>
                            <a href="news-details.html">
                                <h3>آیا یادگیری ماشین برای شما مناسب است</h3>
                            </a>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                            <a class="read-more" href="news-details.html">
                                ادامه خواندن
                                <i class="bx bx-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-news">
                        <div class="blog-img">
                            <a href="news-details.html">
                                <img src="~/img/blog/2.png" alt="Image">
                            </a>
                            <div class="dates">
                                <span>20 دی</span>
                            </div>
                        </div>
                        <div class="news-content-wrap">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-user"></i>
                                        مدیر
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-conversation"></i>
                                        نظر
                                    </a>
                                </li>
                            </ul>
                            <a href="news-details.html">
                                <h3>آیا یادگیری ماشین برای شما مناسب است</h3>
                            </a>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                            <a class="read-more" href="news-details.html">
                                ادامه خواندن
                                <i class="bx bx-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                    <div class="single-news">
                        <div class="blog-img">
                            <a href="news-details.html">
                                <img src="~/img/blog/3.png" alt="Image">
                            </a>
                            <div class="dates">
                                <span>20 دی</span>
                            </div>
                        </div>
                        <div class="news-content-wrap">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-user"></i>
                                        مدیر
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-conversation"></i>
                                        نظر
                                    </a>
                                </li>
                            </ul>
                            <a href="news-details.html">
                                <h3>آیا یادگیری ماشین برای شما مناسب است</h3>
                            </a>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                            <a class="read-more" href="news-details.html">
                                ادامه خواندن
                                <i class="bx bx-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End News Area -->
    <!-- Start Footer Top Area -->
    <footer class="footer-top-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <a href="index.html">
                            <img src="~/img/white-logo.png" alt="Image">
                        </a>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        <ul class="social-icon">
                            <li>
                                <a href="#">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-pinterest-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <h3>خدمات</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="right-icon bx bx-chevrons-left"></i>
                                    اطلاعات بزرگ
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="right-icon bx bx-chevrons-left"></i>
                                    طراحی رابط کاربری
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="right-icon bx bx-chevrons-left"></i>
                                    برنامه کامپیوتر
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="right-icon bx bx-chevrons-left"></i>
                                    برنامه موبایل
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="right-icon bx bx-chevrons-left"></i>
                                    محصول مهندسی
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="right-icon bx bx-chevrons-left"></i>
                                    یادگیری ماشین
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <h3>لینکهای مفید</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="right-icon bx bx-chevrons-left"></i>
                                    موتور جستجوگر
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="right-icon bx bx-chevrons-left"></i>
                                    پشتیبانی زنده
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="right-icon bx bx-chevrons-left"></i>
                                    توسعه دهنده
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="right-icon bx bx-chevrons-left"></i>
                                    پرداخت کلیکی
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="right-icon bx bx-chevrons-left"></i>
                                    پشتیبانی
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="right-icon bx bx-chevrons-left"></i>
                                    برنامه
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <h3>اطلاعات تماس</h3>
                        <ul class="information">
                            <li class="address">
                                <i class="flaticon-call"></i>
                                <span>تلفن</span>
                                <a href="tel:021-12345678">
                                    021-12345678
                                </a>
                            </li>
                            <li class="address">
                                <i class="flaticon-envelope"></i>
                                <span>ایمیل</span>
                                <a href="mailto:hello@arduix.com">
                                    hello@arduix.com
                                </a>
                            </li>
                            <li class="address">
                                <i class="flaticon-maps-and-flags"></i>
                                <span>آدرس</span>
                                ایران ، استان تهران ، میدان آزادی 9 شرقی
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-shape">
            <img src="~/img/shape/footer-shape-one.png" alt="Image">
            <img src="~/img/shape/footer-shape-two.png" alt="Image">
        </div>
    </footer>
    <!-- End Footer Top Area -->
    <!-- Start Footer Bottom Area -->
    <footer class="footer-bottom-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="copy-right">
                        <p>کپی رایت .<i class="bx bx-copyright"></i> 1399 <a href="index.html">آردویکس</a>. تمام حقوق قالب محفوظ است.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="privacy">
                        <ul>
                            <li>
                                <a href="terms-conditions.html">شرایط و ضوابط</a>
                            </li>
                            <li>
                                <a href="privacy-policy.html">حریم خصوصی</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="designed">
                        <p>طراحی و توسعه توسط <i class='bx bx-heart'></i> <a href="https://www.rtl-theme.com/author/barat/?aff=barat">Barat Hadian</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Bottom Area -->
    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="bx bx-chevrons-up"></i>
        <i class="bx bx-chevrons-up bx-fade-up"></i>
    </div>
    <!-- End Go Top Area -->


    <script src="~/js/jquery.min.js"></script>

    <script src="~/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/meanmenu.min.js"></script>

    <script src="~/js/wow.min.js"></script>

    <script src="~/js/owl.carousel.min.js"></script>

    <script src="~/js/nice-select.min.js"></script>

    <script src="~/js/appear.min.js"></script>

    <script src="~/js/odometer.min.js"></script>

    <script src="~/js/magnific-popup.min.js"></script>

    <script src="~/js/ajaxchimp.min.js"></script>

    <script src="~/js/form-validator.min.js"></script>

    <script src="~/js/contact-form-script.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/custom.js"></script>
</body>

</html>