<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Arduix - AI & IT Startup HTML Template">
    <meta name="description" content="Arduix - AI & IT Startup HTML Template">
    <meta name="author" content="Rohham">
    <link rel="stylesheet" href="~/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/boxicons.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/meanmenu.min.css">
    <link rel="stylesheet" href="~/css/nice-select.min.css">
    <link rel="stylesheet" href="~/css/odometer.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/rtl.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/img/favicon.png">
    <!-- TITLE -->
    <title>@ViewData["Title"] - فرهیختگان هوشمند رهام</title>
</head>

<body>
    @RenderBody()
    
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/meanmenu.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/nice-select.min.js"></script>
    <script src="~/js/appear.min.js"></script>
    <script src="~/js/odometer.min.js"></script>
    <script src="~/js/magnific-popup.min.js"></script>
    <script src="~/js/ajaxchimp.min.js"></script>
    <script src="~/js/form-validator.min.js"></script>
    <script src="~/js/contact-form-script.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/custom.js"></script>
</body>

</html>