@{
    ViewData["Title"] = "درباره ما";
    ViewData["Description"] = "توضیحات";
    ViewData["KeyWords"] = "تگ";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>درباره ما 2</h2>
            <ul>
                <li>
                    <a href="index.html">
                        صفحه اصلی
                    </a>
                </li>
                <li>درباره</li>
                <li>درباره ما 2</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start About Area -->
<section class="about-area pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="~/img/about-img-three.png" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <span>درباره ما</span>
                    <h2>ما هر پروژه را با مراقبت و نیاز مشتری تکمیل می کنیم</h2>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <ul>
                                <li>
                                    <i class="flaticon-checked"></i>
                                    ذخیره پیشرفته
                                </li>
                                <li>
                                    <i class="flaticon-checked"></i>
                                    برنامه های نامحدود
                                </li>
                                <li>
                                    <i class="flaticon-checked"></i>
                                    انتقال داده ها
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <ul>
                                <li>
                                    <i class="flaticon-checked"></i>
                                    انتقال داده به سرور
                                </li>
                                <li>
                                    <i class="flaticon-checked"></i>
                                    24/7 پشتیبانی رایگان
                                </li>
                                <li>
                                    <i class="flaticon-checked"></i>
                                    درخواست بهینه شده
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->
<!-- Start Choose Us Area -->
<section class="choose-ue-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>چرا ما را انتخاب کنید</span>
            <h2>بسترهای نرم افزاری ما فرآیند ایجاد وب سایت شما را دور می کند</h2>
            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="choose-content">
                    <ul>
                        <li>
                            <span>01 <i class="flaticon-technical-support"></i></span>
                            <h3>امنیت ایمن</h3>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        </li>
                        <li class="ml">
                            <span>02 <i class="flaticon-shield"></i></span>
                            <h3>پشتیبانی فنی</h3>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        </li>
                        <li class="ml-25">
                            <span>03 <i class="flaticon-support"></i></span>
                            <h3>پشتیبانی زنده</h3>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-content">
                    <ul>
                        <li>
                            <span>01 <i class="flaticon-technical-support"></i></span>
                            <h3>رایگان و سریع </h3>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        </li>
                        <li class="ml">
                            <span>02 <i class="flaticon-shield"></i></span>
                            <h3>فن آوری پیشرفته</h3>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        </li>
                        <li class="ml-25">
                            <span>03 <i class="flaticon-support"></i></span>
                            <h3>قیمت های رقابتی</h3>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Choose Us Area -->
<!-- Start Business Area -->
<section class="business-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="business-content">
                    <h2>تجارت خود را رقابتی تر و با دوام تر کنید</h2>
                </div>
                <div class="single-business">
                    <i class="flaticon-chip"></i>
                    <h3>هوش مصنوعی امنیت سایبر را بهبود می بخشد</h3>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                </div>
                <div class="single-business">
                    <i class="flaticon-blockchain"></i>
                    <h3>جامعه ای با یک مأموریت بی نظیر</h3>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                </div>
                <a class="default-btn" href="about-style-two.html">
                    دانستن جزئیات
                </a>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 counter-nth">
                        <div class="single-counter">
                            <h2>
                                <span style="direction: ltr;" class="odometer" data-count="95">00</span> <span class="target">%</span>
                            </h2>
                            <p>پروژه تکمیل</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 counter-nth">
                        <div class="single-counter">
                            <h2>
                                <span style="direction: ltr;" class="odometer" data-count="90">00</span> <span class="target">%</span>
                            </h2>
                            <p>طراحی</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 counter-nth">
                        <div class="single-counter">
                            <h2>
                                <span style="direction: ltr;" class="odometer" data-count="85">00</span> <span class="target">%</span>
                            </h2>
                            <p>مشتریان راضی</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 counter-nth">
                        <div class="single-counter">
                            <h2>
                                <span style="direction: ltr;" class="odometer" data-count="80">00</span> <span class="target">%</span>
                            </h2>
                            <p>برنده جایزه</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Business Area -->
<!-- Start Client Area -->
<section class="client-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>مشتریان ما</span>
            <h2>آنچه مشتری درباره ما می گوید</h2>
        </div>
        <div class="client-wrap owl-carousel owl-theme">
            <div class="single-client">
                <i class="quotes flaticon-left-quotes-sign"></i>
                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                <ul>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                </ul>
                <div class="client-img">
                    <img src="~/img/client/1.jpg" alt="Image">
                    <h3>آلن میر</h3>
                    <span>توسعه دهنده</span>
                </div>
            </div>
            <div class="single-client">
                <i class="quotes flaticon-left-quotes-sign"></i>
                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                <ul>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                </ul>
                <div class="client-img">
                    <img src="~/img/client/2.jpg" alt="Image">
                    <h3>آلن میر</h3>
                    <span>توسعه دهنده</span>
                </div>
            </div>
            <div class="single-client">
                <i class="quotes flaticon-left-quotes-sign"></i>
                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                <ul>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                </ul>
                <div class="client-img">
                    <img src="~/img/client/3.jpg" alt="Image">
                    <h3>آلن میر</h3>
                    <span>توسعه دهنده</span>
                </div>
            </div>
            <div class="single-client">
                <i class="quotes flaticon-left-quotes-sign"></i>
                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                <ul>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                </ul>
                <div class="client-img">
                    <img src="~/img/client/4.jpg" alt="Image">
                    <h3>آلن میر</h3>
                    <span>توسعه دهنده</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Client Area -->
<!-- Start Brand Area -->
<div class="brand-area-two ptb-100">
    <div class="container">
        <div class="brand-wrap owl-carousel owl-theme">
            <div class="single-brand">
                <a href="#">
                    <img src="~/img/brand/1.png" alt="Image">
                </a>
            </div>
            <div class="single-brand">
                <a href="#">
                    <img src="~/img/brand/2.png" alt="Image">
                </a>
            </div>
            <div class="single-brand">
                <a href="#">
                    <img src="~/img/brand/3.png" alt="Image">
                </a>
            </div>
            <div class="single-brand">
                <a href="#">
                    <img src="~/img/brand/4.png" alt="Image">
                </a>
            </div>
            <div class="single-brand">
                <a href="#">
                    <img src="~/img/brand/5.png" alt="Image">
                </a>
            </div>
            <div class="single-brand">
                <a href="#">
                    <img src="~/img/brand/6.png" alt="Image">
                </a>
            </div>
            <div class="single-brand">
                <a href="#">
                    <img src="~/img/brand/7.png" alt="Image">
                </a>
            </div>
            <div class="single-brand">
                <a href="#">
                    <img src="~/img/brand/8.png" alt="Image">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Brand Area -->